@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {

  p, h1, h2, h3, h4 {
    @apply text-grayText;
  }

  h3 {
    @apply font-sans;
    @apply text-2xl;
    @apply font-extralight;
    @apply tracking-wider;
    @apply leading-10;
    /* @apply uppercase; */
  }

  .text-balance {
    text-wrap: balance;
  }

  .perspective {
    perspective: 500px;
  }

  .rotated {
    transform: rotate(358deg) rotateY(8deg) rotateX(21deg);
    transition: 0.1s;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
  }

  .project-card {
    outline: 0px solid #690EFF;
    transition: 0.1s;
  }

  .project-card:hover {
    outline: 10px solid #690EFF;
    transition: 0.1s;
  }

  .project-card:hover .rotated {
    transform: rotate(358deg) rotateY(-8deg) rotateX(21deg);
    transition: 0.1s;
  }

  .tech-stack-pill {
    @apply px-4;
    @apply py-1;
    @apply mr-2;
    @apply rounded-full;
    @apply border-black;
    @apply border-[1px];
    @apply text-base;
    @apply inline-block;
  }
}
