@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  p,
  h1,
  h2,
  h3,
  h4 {
    @apply text-grayText;
  }

  p {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    @apply text-gray-700;
  }

  h2 {
    /* @apply font-nunito; */
    @apply text-xl;
    @apply font-bold;
    @apply text-gray-900;
  }

  h3 {
    @apply font-nunito;
    @apply text-2xl;
    @apply font-medium;
    /* @apply tracking-wider; */
    @apply leading-7;
    /* @apply uppercase; */
  }

  h4 {
    @apply font-nunito;
    @apply text-lg;
    @apply md:text-2xl;
    /* @apply font-bold; */
    @apply tracking-widest;
    @apply leading-10;
    @apply /* @apply uppercase; */ uppercase;
  }

  .text-balance {
    text-wrap: balance;
  }

  .perspective {
    perspective: 500px;
  }

  .rotated {
    transform: rotate(358deg) rotateY(8deg) rotateX(21deg);
    transition: 0.1s;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  }

  .project-card {
    outline: 0px solid #0922ff;
    transition: 0.1s;
    /* max-width:300px; */
  }

  .project-card:hover {
    outline: 10px solid #0922ff;
    transition: 0.1s;
  }

  .project-card:hover .rotated {
    transform: rotate(358deg) rotateY(-8deg) rotateX(21deg);
    transition: 0.1s;
  }

  .tech-stack-pill {
    @apply px-4;
    @apply py-1;
    @apply mr-2;
    @apply mb-2;
    @apply rounded-full;
    @apply border-black;
    @apply border-[1px];
    @apply text-base;
    @apply inline-block;
  }
}

.screenshot-frame-mobile {
  border: 10px solid;
  @apply border-grayDarker;
  /* border-bottom: 20px solid; */
  border-radius: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #18c118;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
